* {
  box-sizing: border-box;
}

.clearfix::after, .clearfix::before {
  display: table;
  content: "";
}
.clearfix::after {
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
}
.container::after, .container::before {
  display: table;
  content: "";
}
.container::after {
  clear: both;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
.container-fluid::after, .container-fluid::before {
  display: table;
  content: "";
}
.container-fluid::after {
  clear: both;
}

.g-row::after, .g-row::before {
  display: table;
  content: "";
}
.g-row::after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 767px) {
  .g-col-xs-1 {
    float: left;
    width: 4.16667%;
  }

  .g-col-xs-2 {
    float: left;
    width: 8.33333%;
  }

  .g-col-xs-3 {
    float: left;
    width: 12.5%;
  }

  .g-col-xs-4 {
    float: left;
    width: 16.66667%;
  }

  .g-col-xs-5 {
    float: left;
    width: 20.83333%;
  }

  .g-col-xs-6 {
    float: left;
    width: 25%;
  }

  .g-col-xs-7 {
    float: left;
    width: 29.16667%;
  }

  .g-col-xs-8 {
    float: left;
    width: 33.33333%;
  }

  .g-col-xs-9 {
    float: left;
    width: 37.5%;
  }

  .g-col-xs-10 {
    float: left;
    width: 41.66667%;
  }

  .g-col-xs-11 {
    float: left;
    width: 45.83333%;
  }

  .g-col-xs-12 {
    float: left;
    width: 50%;
  }

  .g-col-xs-13 {
    float: left;
    width: 54.16667%;
  }

  .g-col-xs-14 {
    float: left;
    width: 58.33333%;
  }

  .g-col-xs-15 {
    float: left;
    width: 62.5%;
  }

  .g-col-xs-16 {
    float: left;
    width: 66.66667%;
  }

  .g-col-xs-17 {
    float: left;
    width: 70.83333%;
  }

  .g-col-xs-18 {
    float: left;
    width: 75%;
  }

  .g-col-xs-19 {
    float: left;
    width: 79.16667%;
  }

  .g-col-xs-20 {
    float: left;
    width: 83.33333%;
  }

  .g-col-xs-21 {
    float: left;
    width: 87.5%;
  }

  .g-col-xs-22 {
    float: left;
    width: 91.66667%;
  }

  .g-col-xs-23 {
    float: left;
    width: 95.83333%;
  }

  .g-col-xs-24 {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .g-col-sm-1 {
    float: left;
    width: 4.16667%;
  }

  .g-col-sm-2 {
    float: left;
    width: 8.33333%;
  }

  .g-col-sm-3 {
    float: left;
    width: 12.5%;
  }

  .g-col-sm-4 {
    float: left;
    width: 16.66667%;
  }

  .g-col-sm-5 {
    float: left;
    width: 20.83333%;
  }

  .g-col-sm-6 {
    float: left;
    width: 25%;
  }

  .g-col-sm-7 {
    float: left;
    width: 29.16667%;
  }

  .g-col-sm-8 {
    float: left;
    width: 33.33333%;
  }

  .g-col-sm-9 {
    float: left;
    width: 37.5%;
  }

  .g-col-sm-10 {
    float: left;
    width: 41.66667%;
  }

  .g-col-sm-11 {
    float: left;
    width: 45.83333%;
  }

  .g-col-sm-12 {
    float: left;
    width: 50%;
  }

  .g-col-sm-13 {
    float: left;
    width: 54.16667%;
  }

  .g-col-sm-14 {
    float: left;
    width: 58.33333%;
  }

  .g-col-sm-15 {
    float: left;
    width: 62.5%;
  }

  .g-col-sm-16 {
    float: left;
    width: 66.66667%;
  }

  .g-col-sm-17 {
    float: left;
    width: 70.83333%;
  }

  .g-col-sm-18 {
    float: left;
    width: 75%;
  }

  .g-col-sm-19 {
    float: left;
    width: 79.16667%;
  }

  .g-col-sm-20 {
    float: left;
    width: 83.33333%;
  }

  .g-col-sm-21 {
    float: left;
    width: 87.5%;
  }

  .g-col-sm-22 {
    float: left;
    width: 91.66667%;
  }

  .g-col-sm-23 {
    float: left;
    width: 95.83333%;
  }

  .g-col-sm-24 {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .g-col-md-1 {
    float: left;
    width: 4.16667%;
  }

  .g-col-md-2 {
    float: left;
    width: 8.33333%;
  }

  .g-col-md-3 {
    float: left;
    width: 12.5%;
  }

  .g-col-md-4 {
    float: left;
    width: 16.66667%;
  }

  .g-col-md-5 {
    float: left;
    width: 20.83333%;
  }

  .g-col-md-6 {
    float: left;
    width: 25%;
  }

  .g-col-md-7 {
    float: left;
    width: 29.16667%;
  }

  .g-col-md-8 {
    float: left;
    width: 33.33333%;
  }

  .g-col-md-9 {
    float: left;
    width: 37.5%;
  }

  .g-col-md-10 {
    float: left;
    width: 41.66667%;
  }

  .g-col-md-11 {
    float: left;
    width: 45.83333%;
  }

  .g-col-md-12 {
    float: left;
    width: 50%;
  }

  .g-col-md-13 {
    float: left;
    width: 54.16667%;
  }

  .g-col-md-14 {
    float: left;
    width: 58.33333%;
  }

  .g-col-md-15 {
    float: left;
    width: 62.5%;
  }

  .g-col-md-16 {
    float: left;
    width: 66.66667%;
  }

  .g-col-md-17 {
    float: left;
    width: 70.83333%;
  }

  .g-col-md-18 {
    float: left;
    width: 75%;
  }

  .g-col-md-19 {
    float: left;
    width: 79.16667%;
  }

  .g-col-md-20 {
    float: left;
    width: 83.33333%;
  }

  .g-col-md-21 {
    float: left;
    width: 87.5%;
  }

  .g-col-md-22 {
    float: left;
    width: 91.66667%;
  }

  .g-col-md-23 {
    float: left;
    width: 95.83333%;
  }

  .g-col-md-24 {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .g-col-lg-1 {
    float: left;
    width: 4.16667%;
  }

  .g-col-lg-2 {
    float: left;
    width: 8.33333%;
  }

  .g-col-lg-3 {
    float: left;
    width: 12.5%;
  }

  .g-col-lg-4 {
    float: left;
    width: 16.66667%;
  }

  .g-col-lg-5 {
    float: left;
    width: 20.83333%;
  }

  .g-col-lg-6 {
    float: left;
    width: 25%;
  }

  .g-col-lg-7 {
    float: left;
    width: 29.16667%;
  }

  .g-col-lg-8 {
    float: left;
    width: 33.33333%;
  }

  .g-col-lg-9 {
    float: left;
    width: 37.5%;
  }

  .g-col-lg-10 {
    float: left;
    width: 41.66667%;
  }

  .g-col-lg-11 {
    float: left;
    width: 45.83333%;
  }

  .g-col-lg-12 {
    float: left;
    width: 50%;
  }

  .g-col-lg-13 {
    float: left;
    width: 54.16667%;
  }

  .g-col-lg-14 {
    float: left;
    width: 58.33333%;
  }

  .g-col-lg-15 {
    float: left;
    width: 62.5%;
  }

  .g-col-lg-16 {
    float: left;
    width: 66.66667%;
  }

  .g-col-lg-17 {
    float: left;
    width: 70.83333%;
  }

  .g-col-lg-18 {
    float: left;
    width: 75%;
  }

  .g-col-lg-19 {
    float: left;
    width: 79.16667%;
  }

  .g-col-lg-20 {
    float: left;
    width: 83.33333%;
  }

  .g-col-lg-21 {
    float: left;
    width: 87.5%;
  }

  .g-col-lg-22 {
    float: left;
    width: 91.66667%;
  }

  .g-col-lg-23 {
    float: left;
    width: 95.83333%;
  }

  .g-col-lg-24 {
    float: left;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .g-xs-hidden {
    display: none !important;
  }

  .g-xs-show {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .g-sm-hidden {
    display: none !important;
  }

  .g-sm-show {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .g-md-hidden {
    display: none !important;
  }

  .g-md-show {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .g-lg-hidden {
    display: none !important;
  }

  .g-lg-show {
    display: block !important;
  }
}
.response-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .response-container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .response-container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .response-container {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .response-container {
    max-width: 540px;
  }
}

/*# sourceMappingURL=grid.css.map */
